<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
    <body>
        <h2>Super Awesome Fun Time!</h2>

        @Html.ActionLink("Home", "Index", "Home")
        <br/>
        @Html.ActionLink("Employees", "Index", "Employee")
        <br/>
        @Html.ActionLink("Customers", "Index", "Customer")

        @RenderBody()

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
